<form action="<%= action %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= method %>">

  <label>Title <br>
    <input type="text" name="post[title]" value="<%= post.title %>">
  </label>

  <br>
  <label>Content <br>
    <textarea name="post[content]"
              rows="8"
              cols="30"><%= post.content %></textarea>
  </label>
  <br>

  <% subs.each do |sub| %>
    <label>
      <input type="checkbox" name="post[sub_ids][]" value="<%= sub.id %>" <%= 'checked' if post.subs.include?(sub) %>>
      <%= sub.title %>
    </label>
    <br>
  <% end %>

  <label>URL <br>
    <input type="text" name="post[url]" value="<%= post.url %>">
  </label>
  <br>

  <input type="submit" value="<%= submit_text %>">
</form>
